<mat-dialog-content>
  <form #form="ngForm">
    <h1>Add a Trade</h1>

    <table>
      <tr>
        <th [ngClass]="{'required': !trade.account}">account</th>
        <th [ngClass]="{'required': !trade.openDate}">open</th>
        <th [ngClass]="{'required': !trade.expiryDate}">expiry</th>
        <th [ngClass]="{'required': !trade.closeDate && isEdit()}">close</th>
        <th [ngClass]="{'required': !trade.symbol}">symbol</th>
        <th [ngClass]="{'required': !trade.type}">type</th>
        <th [ngClass]="{'required': !trade.strikes}">strikes</th>
        <th [ngClass]="{'required': !trade.open}">open</th>
        <th [ngClass]="{'required': !trade.filled && isEdit()}">filled</th>
        <th [ngClass]="{'required': !trade.quantity}">quantity</th>
        <th [ngClass]="{'required': !trade.pl && isEdit()}">p/l</th>
      </tr>
      <tr>
        <mat-select>
          <mat-option *ngFor="let account of accounts" [value]="trade.account">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
        <td class="table-data"><input class="table-input" type="text" name="account" [(ngModel)]="trade.account" required></td>
        <td class="table-data"><input class="table-input" type="text" name="openDate" [(ngModel)]="trade.openDate" required></td>
        <td class="table-data"><input class="table-input" type="text" name="expiryDate" [(ngModel)]="trade.expiryDate" required></td>
        <td class="table-data"><input class="table-input" type="text" name="closeDate" [(ngModel)]="trade.closeDate"></td>
        <td class="table-data"><input class="table-input" type="text" name="symbol" [(ngModel)]="trade.symbol" required></td>
        <td class="table-data"><input class="table-input" type="text" name="type" [(ngModel)]="trade.type" required></td>
        <td class="table-data"><input class="table-input" type="text" name="strikes" [(ngModel)]="trade.strikes" required></td>
        <td class="table-data"><input class="table-input" type="text" name="open" [(ngModel)]="trade.open" required></td>
        <td class="table-data"><input class="table-input" type="text" name="filled" [(ngModel)]="trade.filled"></td>
        <td class="table-data"><input class="table-input" type="text" name="quantity" [(ngModel)]="trade.quantity" required></td>
        <td class="table-data"><input class="table-input" type="text" name="pl" [(ngModel)]="trade.pl"></td>
      </tr>
    </table>

    <mat-form-field class="full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="clickable" [disabled]="form.invalid" [mat-dialog-close]="trade">Add</button>
</mat-dialog-actions>